ul li {
  border: 1px solid black;
  list-style: none;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(218, 141, 141);
}

#pixel-board {
  height: auto;
  width: auto;
  background-color: white;
  padding: 0;
  margin: 0;
}

/* consultei display table no link abaixo
Link https://www.maujor.com/tutorial/anti-heroi-css-display-table.php */

.teste {
  padding: 0;
  margin: 0;
  line-height: 0;
  padding-right: 0;
  display: table;
}

.pixel {
  background-color: white;
  display: inline-block;
  border: 0.5px solid black;
  height: 25px;
  width: 25px;
  margin: 0;
  padding: 0;
  padding-right: 0;
}
