ul li {
  border: 1px solid black;
  list-style: none;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#pixel-board {
  height: auto;
  width: auto;
  background-color: white;
  padding: 0;
  margin: 0;
}

/* consultei display table - atua como a tabela do html
Link https://www.maujor.com/tutorial/anti-heroi-css-display-table.php */

.linha {
  background-color: white;
  padding: 0;
  margin: 0;
  line-height: 0;
  padding-right: 0;
  display: table;
}

.pixel {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  padding-right: 0;
}
