ul li {
  border: 1px solid black;
  list-style: none;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(218, 141, 141);
}

#pixel-board {
  height: 500px;
  width: 80%;
  border: 1px solid black;
}

.pixel {
  background-color: white;
  display: inline-block;
}
